#overview_section {
  background-color: #ffffff;
}


.main_overview_container {
  max-width: 1920px;
  margin: auto;
  padding: 100px 10px;
}

.main_overview_container h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 100px;
}

.overview_inner_content_parent_container {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* content one style */

.overview_content_two {
  width: 70%;
}

/* content two style */

.overview_content_two {
  width: 30%;
}

.overview_content_two h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.overview_content_two p {
  font-size: 18px;
  padding: 40px 0;
}

.rating_info_container {
  width: 100%;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating_container {
  height: 150px;
  padding: 30px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #c1c1c1;
  background-color: #f8f9fa;
}

.rating_container ul li:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
  color: #4a90e2;
}

.rating_container ul li:nth-child(2) {
  font-size: 18px;
  color: #434343;
}