#package_section {
  background-color: #f6f8f9;
  padding: 100px 10px;
}

.main_package_container {
  max-width: 1920px;
  margin: auto;
}

.main_package_container h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.package_tab_container {
  margin-top: 50px;
  /*------*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab_parent_container {
  gap: 50px;
  display: flex;
}

.btn_active {
  padding: 15px 40px;
  border-radius: 99px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  background-color: #0060af;
  border: 2px solid transparent;
}

.btn_none_active {
  padding: 15px 40px;
  border-radius: 99px;
  font-size: 18px;
  color: #525252;
  font-weight: 600;
  background-color: #ffffff;
  border: 2px solid #cacaca;
}

.btn_none_active:hover {
  color: #0060af;
  background-color: #ffffff;
  border: 2px solid #0060af;
}

/* Card display style__ */

.package_card_display_container {
  margin: auto;
  max-width: 1280px;
  margin-top: 50px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Main card style__ */

.package_card_main_container {
  max-width: 500px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
  transition: 0.3s ease-in-out;
}

.package_card_main_container:hover {
  transform: scale(1.03);
}

.package_image_container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.package_card_info_container {
  padding: 20px;
}

.package_card_info_container h3 {
  display: inline-block;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 32px;
  color: #4161b9;
  background-color: #c0e1fb;
  margin-bottom: 20px;
}

.package_card_info_container h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.package_card_info_container p {
  color: #74667a;
  margin-bottom: 20px;
}

.package_card_info_container span {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #0477d5;
  margin-bottom: 20px;
}

.package_card_info_container button {
  width: 100%;
  border: none;
  outline: none;
}

.guide_card_main_container {
  max-width: 400px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.guide_image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide_image_container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #08b438;
}

.guide_info_container {
  margin-top: 20px;
  text-align: center;
}

.guide_info_container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.guide_info_container p {
  color: #525252;
  margin-bottom: 10px;
}

.guide_info_container span {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}