.main_footer_outer_container {
  padding-top: 100px;
  position: relative;
  background-color: #f0f0f0;
}

.footer_upper_section_container {
  max-width: 1536px;
  margin: auto;
  gap: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #0000001a;
}

/* Main two column style__ */

.first_column_container {
  width: 30%;
}

.second_patent_column_container {
  width: 70%;
  padding-right: 30px;
}

/* First column section style__ */

.footer_logo_container {
  font-size: 2.2rem;
  font-weight: 600;
  padding-left: 30px;
}

.first_column_container p {
  font-weight: 300;
  padding: 10px 0 20px 30px;
  font-family: "Roboto", serif;
}

.footer_social_icons {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.footer_social_icons h3 {
  cursor: pointer;
  font-size: 2rem;
}

/* Second column section style__ */

.second_patent_column_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.second_child_section_container h3 {
  font-size: 18px;
  font-weight: 500;
  color: #151515;
  padding-bottom: 20px;
  font-family: "Montserrat", serif;
}

.second_child_section_container p {
  font-size: 16px;
  color: #00000099;
  padding-bottom: 10px;
  font-family: "Roboto", serif;
}

/* Footer down section container__ */

.footer_down_section_container {
  max-width: 1536px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

.footer_card_image_container {
  width: 220px;
}

.footer_card_image_container img {
  height: 100%;
  width: 100%;
}

/* Responsive style__ */

@media screen and (max-width: 1280px) {
  .footer_image_container {
    width: 190px;
  }
}

@media screen and (max-width: 1024px) {
  .main_footer_outer_container {
    padding-top: 100px;
  }

  .footer_upper_section_container {
    padding-bottom: 30px;
  }

  .footer_upper_section_container {
    gap: 20px;
  }

  .footer_image_container {
    width: 160px;
  }

  .first_column_container p {
    font-size: 14px;
    padding: 10px 0 20px 20px;
  }

  .footer_social_icons {
    padding-left: 15px;
  }

  .second_patent_column_container {
    padding-right: 20px;
  }

  .second_child_section_container h3 {
    font-size: 16px;
  }

  .second_child_section_container p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer_logo_container {
    font-size: 2rem;
    padding-left: 20px;
  }

  .footer_upper_section_container {
    flex-direction: column;
  }

  .first_column_container {
    width: 100%;
  }

  .second_patent_column_container {
    width: 100%;
    padding: 0 20px;
  }

  .first_column_container p {
    padding-right: 300px;
  }
}

@media screen and (max-width: 640px) {
  .footer_upper_section_container {
    padding-bottom: 20px;
  }

  .first_column_container p {
    padding-right: 200px;
  }

  .second_patent_column_container {
    padding-right: 0px;
    padding-left: 20px;
  }

  .second_patent_column_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 475px) {
  .first_column_container p {
    padding-right: 100px;
  }

  .footer_down_section_container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .footer_card_image_container {
    width: 180px;
  }
}